Development/Sample.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LimraRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="APIKey">
          <xs:annotation>
            <xs:documentation>Arbitrary security attributes</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Audit">
          <xs:annotation>
            <xs:documentation>This is a specific partner/benefit tech company.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="EnrollmentPartnerIdentifier"/>
              <xs:element type="xs:string" name="EnrollmentPartnerName"/>
              <xs:element type="xs:string" name="FileCreationDate"/>
              <xs:element type="xs:string" name="FileCreationTime"/>
              <xs:element type="xs:string" name="FileLayoutVersionIdentifier"/>
              <xs:element type="xs:string" name="FileTypeCode"/>
              <xs:element type="xs:string" name="InsuranceCarrierIdentifier"/>
              <xs:element type="xs:string" name="InsuranceCarrierName"/>
              <xs:element type="xs:string" name="SystemVersionIdentifier"/>
              <xs:element type="xs:string" name="TestProductionCode"/>
              <xs:element type="xs:string" name="TotalRecordsQuantity"/>
              <xs:element name="Organisation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="PartyTypeCode"/>
                    <xs:element name="PartyElectronicAddress">
                      <xs:annotation>
                        <xs:documentation>JB: I think this goes away, its always an employee</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ElectronicAddressText"/>
                          <xs:element type="xs:string" name="ElectronicAddressTypeCode"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PartyIdentification">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="IdentificationNumberText">
                            <xs:annotation>
                              <xs:documentation>JB: I think this goes away</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element type="xs:string" name="IdentificationTypeCode"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PartyPhone">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="PhoneNumberText"/>
                          <xs:element type="xs:string" name="PhoneTypeCode"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PartyPostalAddress">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="AddressTypeCode"/>
                          <xs:element type="xs:string" name="CityName"/>
                          <xs:element type="xs:string" name="CountryCode"/>
                          <xs:element type="xs:string" name="FirstLineAddress"/>
                          <xs:element type="xs:string" name="PostalCode"/>
                          <xs:element type="xs:string" name="SecondLineAddress"/>
                          <xs:element type="xs:string" name="StateProvinceCode"/>
                          <xs:element type="xs:string" name="ThirdLineAddress"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="PartyRelationship"/>
                    <xs:element type="xs:string" name="FullName">
                      <xs:annotation>
                        <xs:documentation>JB: I think this goes away</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="OrganizationTypeCode"/>
                    <xs:element name="Persons">
                      <xs:annotation>
                        <xs:documentation>Should ProductTypes loop be here? Why is it currently as an employee level?</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Person">
                            <xs:annotation>
                              <xs:documentation>A party is defined as an organisation or a person yet an organisation and be a beneficiary..
					How do we populate multiple employees? Is it multiple Party entries?
					If a party has a person type code of dependent how are they related to another person who is an employee?</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="PartyTypeCode">
                                  <xs:annotation>
                                    <xs:documentation>Will never be an organisation. 99% Employee at the minute.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="PersonInfo">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="BankAccount">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="AmericanBankersAssociationRoutingNumber"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="PartyElectronicAddress">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="ElectronicAddressText"/>
                                            <xs:element type="xs:string" name="ElectronicAddressTypeCode"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="PartyIdentification">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="IdentificationNumberText">
                                              <xs:annotation>
                                                <xs:documentation>SSN</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element type="xs:string" name="IdentificationTypeCode"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="PartyPhone">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="PhoneNumberText"/>
                                            <xs:element type="xs:string" name="PhoneTypeCode"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="PartyPostalAddress">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="AddressTypeCode"/>
                                            <xs:element type="xs:string" name="CityName"/>
                                            <xs:element type="xs:string" name="CountryCode"/>
                                            <xs:element type="xs:string" name="FirstLineAddress"/>
                                            <xs:element type="xs:string" name="PostalCode"/>
                                            <xs:element type="xs:string" name="SecondLineAddress"/>
                                            <xs:element type="xs:string" name="StateProvinceCode"/>
                                            <xs:element type="xs:string" name="ThirdLineAddress"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="BirthDate"/>
                                      <xs:element type="xs:string" name="DisabilityIndicator"/>
                                      <xs:element type="xs:string" name="FirstName">
                                        <xs:annotation>
                                          <xs:documentation>JB: I think this is specific to the dependents?</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element type="xs:string" name="FullName"/>
                                      <xs:element type="xs:string" name="GenderCode"/>
                                      <xs:element type="xs:string" name="LastName"/>
                                      <xs:element type="xs:string" name="MaritalStatusCode"/>
                                      <xs:element type="xs:string" name="MiddleName"/>
                                      <xs:element type="xs:string" name="PersonTypeCode"/>
                                      <xs:element type="xs:string" name="PrefixCode">
                                        <xs:annotation>
                                          <xs:documentation>JB: I beleive this is redundent here</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element type="xs:string" name="StudentStatusCode"/>
                                      <xs:element type="xs:string" name="SuffixCode"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="EmploymentInfo">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="AdjustedServiceDate"/>
                                      <xs:element type="xs:string" name="EmploymentStatusCode"/>
                                      <xs:element type="xs:string" name="EmploymentTypeCode"/>
                                      <xs:element type="xs:string" name="ExemptCode"/>
                                      <xs:element type="xs:string" name="HumanResourcePartnerEmailAddress"/>
                                      <xs:element type="xs:string" name="JobTitleText"/>
                                      <xs:element type="xs:string" name="MostRecentHireDate"/>
                                      <xs:element type="xs:string" name="OccupationText"/>
                                      <xs:element type="xs:string" name="OriginalHireDate"/>
                                      <xs:element type="xs:string" name="PayrollDeductionFrequencyCode"/>
                                      <xs:element type="xs:string" name="PayrollFrequencyQuantity"/>
                                      <xs:element type="xs:string" name="SupervisorEmailAddress"/>
                                      <xs:element type="xs:string" name="SupervisorFullName"/>
                                      <xs:element type="xs:string" name="TerminationReasonCode"/>
                                      <xs:element type="xs:string" name="UnionIndicator"/>
                                      <xs:element type="xs:string" name="UnionLocalName"/>
                                      <xs:element type="xs:string" name="UnionLocalNumber"/>
                                      <xs:element type="xs:string" name="UnionMemberNumber"/>
                                      <xs:element type="xs:string" name="WorkHoursFrequencyCode"/>
                                      <xs:element type="xs:string" name="WorkHoursQuantity"/>
                                      <xs:element type="xs:string" name="WorkLocationText"/>
                                      <xs:element name="EmploymentIncomes">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="EmploymentIncome">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="IncomeAmount"/>
                                                  <xs:element type="xs:string" name="IncomeEffectiveDate"/>
                                                  <xs:element type="xs:string" name="IncomeModeCode"/>
                                                  <xs:element type="xs:string" name="IncomeTypeCode"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="EmploymentIncomeDeductions">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="EmploymentIncomeDeduction">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="DeductionAmount"/>
                                                  <xs:element type="xs:string" name="DeductionTypeCode"/>
                                                  <xs:element type="xs:string" name="PayrollDeductionFrequencyCode"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Agreements">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Agreement">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="AgreementTypeCode"/>
                                            <xs:element type="xs:string" name="PolicyNumber"/>
                                            <xs:element name="ChangeRequests">
                                              <xs:annotation>
                                                <xs:documentation>JB: One or multiple policy numbers?</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="ChangeRequest">
                                                    <xs:annotation>
                                                      <xs:documentation>ChangeRequests: Demographic changes and/or census.</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="ChangeRequestTypeCode"/>
                                                        <xs:element type="xs:string" name="ChangeTransactionDate"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Events">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Event">
                                                    <xs:annotation>
                                                      <xs:documentation>QLES, Enrollment, Employment(Terms). This will not be a child of Agreement, its a sibbling</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="EventTypeCode"/>
                                                        <xs:element type="xs:string" name="EventDate"/>
                                                        <xs:element type="xs:string" name="ComprehensiveHealthBenefitIndicator"/>
                                                        <xs:element type="xs:string" name="EnrollmentMethodCode">
                                                          <xs:annotation>
                                                            <xs:documentation>JB: Taken from the enrollment event structure. Review the following elements.</xs:documentation>
                                                          </xs:annotation>
                                                        </xs:element>
                                                        <xs:element type="xs:string" name="MedicaidEligibleCode"/>
                                                        <xs:element type="xs:string" name="MinimumAnnualPayText"/>
                                                        <xs:element type="xs:string" name="TemporaryDisabilityInsuranceStateCoverageText"/>
                                                        <xs:element type="xs:string" name="WorkersCompensationIndicator"/>
                                                        <xs:element name="BenefitElections">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="BenefitElection">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element type="xs:string" name="DentalHealthMaintenanceOrganizationPrimaryHealthPhysicianNumber"/>
                                                                    <xs:element type="xs:string" name="EnrollmentTransactionDate"/>
                                                                    <xs:element name="BillGroup">
                                                                      <xs:annotation>
                                                                        <xs:documentation>Why is the plan coverages in a loop under the plan itself.</xs:documentation>
                                                                      </xs:annotation>
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element type="xs:string" name="BillAccountCode"/>
                                                                          <xs:element type="xs:string" name="BillGroupIdentifier"/>
                                                                          <xs:element type="xs:string" name="BillSortGroupText"/>
                                                                          <xs:element name="BenefitPlans">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element name="BenefitPlan">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element type="xs:string" name="BenefitPlanIdentifier"/>
                                                                                      <xs:element type="xs:string" name="BenefitClassIdentifier"/>
                                                                                      <xs:element type="xs:string" name="IssueAgeQuantity"/>
                                                                                      <xs:element type="xs:string" name="BenefitElectedAmount"/>
                                                                                      <xs:element type="xs:string" name="BenefitApprovedAmount"/>
                                                                                      <xs:element type="xs:string" name="BenefitTypeCode"/>
                                                                                      <xs:element type="xs:string" name="BenefitEarningsEffectiveDate"/>
                                                                                      <xs:element type="xs:string" name="BenefitEarningsAmount"/>
                                                                                      <xs:element type="xs:string" name="BenefitEarningsModeCode"/>
                                                                                      <xs:element type="xs:string" name="EmployeeContributionCode"/>
                                                                                      <xs:element type="xs:string" name="EmployeePremiumContributionAmount"/>
                                                                                      <xs:element type="xs:string" name="EmployerPremiumContributionAmount"/>
                                                                                      <xs:element type="xs:string" name="TotalPlanPremiumAmount"/>
                                                                                      <xs:element type="xs:string" name="PremiumModeCode"/>
                                                                                      <xs:element name="ProductTypes">
                                                                                        <xs:annotation>
                                                                                          <xs:documentation>We think that this is rider specific information?</xs:documentation>
                                                                                        </xs:annotation>
                                                                                        <xs:complexType>
                                                                                          <xs:sequence>
                                                                                            <xs:element name="ProductType" maxOccurs="unbounded" minOccurs="0">
                                                                                              <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                  <xs:element type="xs:byte" name="ProductTypeCode"/>
                                                                                                  <xs:element type="xs:string" name="ProductTypeDescriptionText"/>
                                                                                                </xs:sequence>
                                                                                              </xs:complexType>
                                                                                            </xs:element>
                                                                                          </xs:sequence>
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                      <xs:element name="BenefitPlanCoverages">
                                                                                        <xs:annotation>
                                                                                          <xs:documentation>If we're creating universal plan type codes, we can map those at a carrier level without the need to 
															ask the employee to populate the internal carrier plan codes.</xs:documentation>
                                                                                        </xs:annotation>
                                                                                        <xs:complexType>
                                                                                          <xs:sequence>
                                                                                            <xs:element name="BenefitPlanCoverage">
                                                                                              <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                  <xs:element type="xs:string" name="PlanCode"/>
                                                                                                  <xs:element type="xs:string" name="PlanTypeCode"/>
                                                                                                  <xs:element type="xs:string" name="CoverageTierCode"/>
                                                                                                  <xs:element type="xs:string" name="OriginalCoverageEffectiveDate"/>
                                                                                                  <xs:element type="xs:string" name="CoverageEffectiveDate"/>
                                                                                                  <xs:element type="xs:string" name="PreTaxCode"/>
                                                                                                  <xs:element type="xs:string" name="TobaccoUseIndicator"/>
                                                                                                  <xs:element type="xs:string" name="TakeoverCoverageIndicator"/>
                                                                                                  <xs:element name="UnderwritingDecisions">
                                                                                                    <xs:annotation>
                                                                                                      <xs:documentation>These are opional loops. Define scenarios.
																	Denial, Approval, Withdrawl, Complete...EOI</xs:documentation>
                                                                                                    </xs:annotation>
                                                                                                    <xs:complexType>
                                                                                                      <xs:sequence>
                                                                                                        <xs:element name="UnderWritingDecision">
                                                                                                          <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                              <xs:element type="xs:string" name="UnderwrittenStatusCode"/>
                                                                                                              <xs:element type="xs:string" name="UnderwrittenAmount"/>
                                                                                                              <xs:element type="xs:string" name="UnderwrittenDecisionDate"/>
                                                                                                            </xs:sequence>
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                      </xs:sequence>
                                                                                                    </xs:complexType>
                                                                                                  </xs:element>
                                                                                                  <xs:element name="Dependents">
                                                                                                    <xs:annotation>
                                                                                                      <xs:documentation>Are these duplications of the beneficiaries under the person?
																	Employer>Employee>ChangeRequest>Agreement>Event>BenefitElection>BenefitPlan>BenefitPlanCoverage>Beneficiary></xs:documentation>
                                                                                                    </xs:annotation>
                                                                                                    <xs:complexType>
                                                                                                      <xs:sequence>
                                                                                                        <xs:element name="Dependent">
                                                                                                          <xs:annotation>
                                                                                                            <xs:documentation>56% likely to remain here because ADP have requested the products listed in the dependent loop.</xs:documentation>
                                                                                                          </xs:annotation>
                                                                                                          <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                              <xs:element name="PersonInfo">
                                                                                                                <xs:complexType>
                                                                                                                  <xs:sequence>
                                                                                                                    <xs:element name="BankAccount">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element type="xs:string" name="AmericanBankersAssociationRoutingNumber"/>
                                                                                                                        </xs:sequence>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element name="PartyElectronicAddress">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element type="xs:string" name="ElectronicAddressText"/>
                                                                                                                          <xs:element type="xs:string" name="ElectronicAddressTypeCode"/>
                                                                                                                        </xs:sequence>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element name="PartyIdentification">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element type="xs:string" name="IdentificationNumberText">
                                                                                                                            <xs:annotation>
                                                                                                                              <xs:documentation>SSN</xs:documentation>
                                                                                                                            </xs:annotation>
                                                                                                                          </xs:element>
                                                                                                                          <xs:element type="xs:string" name="IdentificationTypeCode"/>
                                                                                                                        </xs:sequence>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element name="PartyPhone">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element type="xs:string" name="PhoneNumberText"/>
                                                                                                                          <xs:element type="xs:string" name="PhoneTypeCode"/>
                                                                                                                        </xs:sequence>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element name="PartyPostalAddress">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element type="xs:string" name="AddressTypeCode"/>
                                                                                                                          <xs:element type="xs:string" name="CityName"/>
                                                                                                                          <xs:element type="xs:string" name="CountryCode"/>
                                                                                                                          <xs:element type="xs:string" name="FirstLineAddress"/>
                                                                                                                          <xs:element type="xs:string" name="PostalCode"/>
                                                                                                                          <xs:element type="xs:string" name="SecondLineAddress"/>
                                                                                                                          <xs:element type="xs:string" name="StateProvinceCode"/>
                                                                                                                          <xs:element type="xs:string" name="ThirdLineAddress"/>
                                                                                                                        </xs:sequence>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element type="xs:string" name="BirthDate"/>
                                                                                                                    <xs:element type="xs:string" name="DisabilityIndicator"/>
                                                                                                                    <xs:element type="xs:string" name="FirstName">
                                                                                                                      <xs:annotation>
                                                                                                                        <xs:documentation>JB: I think this is specific to the dependents?</xs:documentation>
                                                                                                                      </xs:annotation>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element type="xs:string" name="FullName"/>
                                                                                                                    <xs:element type="xs:string" name="GenderCode"/>
                                                                                                                    <xs:element type="xs:string" name="LastName"/>
                                                                                                                    <xs:element type="xs:string" name="MaritalStatusCode"/>
                                                                                                                    <xs:element type="xs:string" name="MiddleName"/>
                                                                                                                    <xs:element type="xs:string" name="PersonTypeCode"/>
                                                                                                                    <xs:element type="xs:string" name="PrefixCode">
                                                                                                                      <xs:annotation>
                                                                                                                        <xs:documentation>JB: I beleive this is redundent here</xs:documentation>
                                                                                                                      </xs:annotation>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element type="xs:string" name="StudentStatusCode"/>
                                                                                                                    <xs:element type="xs:string" name="SuffixCode"/>
                                                                                                                  </xs:sequence>
                                                                                                                </xs:complexType>
                                                                                                              </xs:element>
                                                                                                            </xs:sequence>
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                      </xs:sequence>
                                                                                                    </xs:complexType>
                                                                                                  </xs:element>
                                                                                                  <xs:element name="Beneficiaries">
                                                                                                    <xs:complexType>
                                                                                                      <xs:sequence>
                                                                                                        <xs:element name="Beneficiary">
                                                                                                          <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                              <xs:element type="xs:byte" name="BeneficiaryTypeCode"/>
                                                                                                              <xs:element type="xs:string" name="BeneficiaryPercent"/>
                                                                                                              <xs:element type="xs:string" name="BeneficiaryIndicatorCode"/>
                                                                                                              <xs:element type="xs:string" name="RelationshipCode"/>
                                                                                                              <xs:element type="xs:string" name="BeneficiaryAmount"/>
                                                                                                              <xs:element type="xs:string" name="TrustEstablishmentDate"/>
                                                                                                              <xs:element name="PersonInfo">
                                                                                                                <xs:complexType>
                                                                                                                  <xs:sequence>
                                                                                                                    <xs:element name="BankAccount">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element type="xs:string" name="AmericanBankersAssociationRoutingNumber"/>
                                                                                                                        </xs:sequence>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element name="PartyElectronicAddress">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element type="xs:string" name="ElectronicAddressText"/>
                                                                                                                          <xs:element type="xs:string" name="ElectronicAddressTypeCode"/>
                                                                                                                        </xs:sequence>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element name="PartyIdentification">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element type="xs:string" name="IdentificationNumberText">
                                                                                                                            <xs:annotation>
                                                                                                                              <xs:documentation>SSN</xs:documentation>
                                                                                                                            </xs:annotation>
                                                                                                                          </xs:element>
                                                                                                                          <xs:element type="xs:string" name="IdentificationTypeCode"/>
                                                                                                                        </xs:sequence>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element name="PartyPhone">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element type="xs:string" name="PhoneNumberText"/>
                                                                                                                          <xs:element type="xs:string" name="PhoneTypeCode"/>
                                                                                                                        </xs:sequence>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element name="PartyPostalAddress">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element type="xs:string" name="AddressTypeCode"/>
                                                                                                                          <xs:element type="xs:string" name="CityName"/>
                                                                                                                          <xs:element type="xs:string" name="CountryCode"/>
                                                                                                                          <xs:element type="xs:string" name="FirstLineAddress"/>
                                                                                                                          <xs:element type="xs:string" name="PostalCode"/>
                                                                                                                          <xs:element type="xs:string" name="SecondLineAddress"/>
                                                                                                                          <xs:element type="xs:string" name="StateProvinceCode"/>
                                                                                                                          <xs:element type="xs:string" name="ThirdLineAddress"/>
                                                                                                                        </xs:sequence>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element type="xs:string" name="BirthDate"/>
                                                                                                                    <xs:element type="xs:string" name="DisabilityIndicator"/>
                                                                                                                    <xs:element type="xs:string" name="FirstName">
                                                                                                                      <xs:annotation>
                                                                                                                        <xs:documentation>JB: I think this is specific to the dependents?</xs:documentation>
                                                                                                                      </xs:annotation>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element type="xs:string" name="FullName"/>
                                                                                                                    <xs:element type="xs:string" name="GenderCode"/>
                                                                                                                    <xs:element type="xs:string" name="LastName"/>
                                                                                                                    <xs:element type="xs:string" name="MaritalStatusCode"/>
                                                                                                                    <xs:element type="xs:string" name="MiddleName"/>
                                                                                                                    <xs:element type="xs:string" name="PersonTypeCode"/>
                                                                                                                    <xs:element type="xs:string" name="PrefixCode">
                                                                                                                      <xs:annotation>
                                                                                                                        <xs:documentation>JB: I beleive this is redundent here</xs:documentation>
                                                                                                                      </xs:annotation>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element type="xs:string" name="StudentStatusCode"/>
                                                                                                                    <xs:element type="xs:string" name="SuffixCode"/>
                                                                                                                  </xs:sequence>
                                                                                                                </xs:complexType>
                                                                                                              </xs:element>
                                                                                                            </xs:sequence>
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                      </xs:sequence>
                                                                                                    </xs:complexType>
                                                                                                  </xs:element>
                                                                                                </xs:sequence>
                                                                                              </xs:complexType>
                                                                                            </xs:element>
                                                                                          </xs:sequence>
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                    </xs:sequence>
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>